
  #login_global{
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  .login-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  .login-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    font-weight: 600;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .login-input {
    padding: 12px;
    font-size: 1rem;
    border: 2px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: border 0.3s;
  }
  
  .login-input:focus {
    border-color: #4b9cd3;
  }
  
  .login-button {
    padding: 12px;
    font-size: 1rem;
    background-color: #4b9cd3;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-button:hover {
    background-color: #3577a2;
  }
  
  .login-button:active {
    background-color: #29678a;
  }
  